.exp-d{
        font-size: 35px;
    font-weight: 500;
    border: 5px solid;
    border-color: orange lightblue;
    width: 15%;
    border-radius: 68px;
    padding-left: 7px;
    box-shadow: 0px 20px 24px 3px rgba(251, 161, 40, 0.42);
}
.Experience{
    padding-top: 5rem;
    padding-left: 16rem;
}